development:
  adapter: postgresql
  database: milavitsa_development
  username: root
  pool: 5
  timeout: 5000
  encoding: UTF-8

test:
  adapter: postgresql
  database: milavitsa_test
  username: root
  pool: 5
  timeout: 5000
  encoding: UTF-8