= image_tag @product.image_url
- if @product.title
  %p== Название: #{@product.title}
- if @product.description
  %p== Описание: #{@product.description}
-if @product.price
  %p== Цена: #{@product.price.to_i} гривен.