= image_tag @product.image_url
- if @product.title.present?
  %p== Название: #{@product.title}
- if @product.description.present?
  %p== Описание: #{@product.description}
-if @product.price.present?
  %p== Цена: #{@product.price.to_i} гривен.